*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(175deg,hsl(357, 10%, 56%),rgb(247, 246, 246));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input[type=checkbox]{
    display: none;
}


.hide-btns{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ----Hide Button Label Styling---- */

.hide-btns > label{
    width: 100px;
    height: 100px;
    position: relative;
    top: 250px;
    z-index: 1;
    display: inline-block;
    border-radius: 100%;
    box-shadow: 1px 1px 10px 0px rgb(100, 92, 92);
    background-color: white;
    transition: all 0.2s ease;
    cursor: pointer;
    
}

/* ----Hide Button Label's Before Styling---- */

.hide-btns > label::before{
    content: "";
    display: inline-block;
    width: 30px;
    height:6px;
    border-radius: 10px;
    background-color: rgb(241, 113, 141);
    position: relative;
    top: 35px;
    left: 35px;
}

/* ----Hide Button Label's After Styling---- */

.hide-btns > label::after{
    content: "";
    display: inline-block;
    width: 30px;
    height:6px;
    border-radius: 10px;
    background-color: rgb(241, 113, 141);
    position: relative;
    top: 35px;
    left: 5px;
    transform: rotate(90deg);
}


/* ----Hide Button Anchor Styling---- */


.hide-btns > a{
    padding: 10px 15px;
    font-size: 2em;
    color: white;
    border-radius: 100%;
    
}

.hide-btns > a:nth-child(2){
    background-color: #50aaff;
    transform: translateY(150px);
        transition: all 1.2s ease;

}
.hide-btns > a:nth-child(3){
    background-color: #fcff50;
    transform: translateY(87px);
        transition: all 1.2s ease;

}
.hide-btns > a:nth-child(4){
    background-color: #ff5099;
    transform: translateY(25px);
        transition: all 1.2s ease;

}

/* ----Bootom Tab Bar Styling---- */

.bottom-tab-bar{
    width: 500px;
    height: 90px;
    background: white;
    box-shadow: 5px 10px 10px 0px rgb(105, 103, 103);
    border-radius: 5px 5px 25px 25px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0px 40px;
}

.bottom-tab-bar a > img{
    width: 35px;
    height: 35px;
}


/* ----Checked styling---- */


#bar-btn:checked ~ .hide-btns > label{
    transform: rotate(-90deg);
    transition: all 0.2s ease;
}

#bar-btn:checked ~ .hide-btns > label::after,#bar-btn:checked ~ .hide-btns >label::before{
    background-color: black;
    transition: all 0.2s ease;
}

#bar-btn:checked ~ .hide-btns > a:nth-child(2){
    transform: translateY(100px) translateX(-90px);
        transition: all 1.2s ease;

}


#bar-btn:checked ~ .hide-btns > a:nth-child(3){
    transform: translateY(-0px) translateX(0px);
        transition: all 1.2s ease;

}

#bar-btn:checked ~ .hide-btns > a:nth-child(4){
    transform: translateY(-26px) translateX(90px);
        transition: all 1.2s ease;

}